.container--events{
    width: 100%;
    height: 100%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
    .card--event{
        width: 90%;
        height: 450px;
        overflow: scroll;border-radius: $radiusGlobal;
        border: 1px solid $couleur3;
        box-shadow: $boxshadow;
        -webkit-box-shadow: $webkitShadow;
        -moz-box-shadow: $mozBoxshadox;
        &__title{
            padding: 10px 5px;
        }
        &__content{
            padding: 15px;
            p{
                text-align: justify;
            }
            .signature{
                text-align: right;
                font-style: italic;
                font-weight: 700;
            }
        }
    }
}