.btn{
    border-radius: $radiusGlobal;
    padding: 4px 12px;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    background-color: $couleur3;
    color: $white;
    &:hover{
        background-color :$couleur1;
    }
    @media screen and (max-width: map-get($breakpoints,tablet-down)){
        font-size : 14px;
        line-height : 20px;
    }
    @media screen and (max-width: map-get($breakpoints,phone-down)){
        font-size : 12px;
        line-height : 18px;
    }
    &__footer{
        background-color: $white;
        color: $couleur3;
        margin: 0 20px;
        &:hover{
            background-color :$couleur1;
            color: $white;
        }
    }
    &__form{
        border: none;
    }
}
