.fa-solid{
    font-size: 2rem;
    color: $couleur5;
    @media screen and (max-width: map-get($breakpoints,tablet-down)){
        font-size: 1.4rem;
    }
}

.btn{
    display: inline-block;
    font-size: .9rem;
    background-color: $couleur5;
    color: $couleur1;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: $radiusGlobal;
    padding: 5px 10px;
    transition: all .3s ease-in-out;
    @media screen and (max-width: map-get($breakpoints,desktop-down)){
        font-size: 0.8rem;
    }
    @media screen and (max-width: map-get($breakpoints,tablet-down)){
        font-size: 0.7rem;
    }
    &:hover{
        background-color: $couleur1;
        color:$couleur5;
        border: 1px solid $couleur4;
    }
    &__form{
        margin: 10px;
    }
    &__footer{
        background-color: transparent;
        color: $couleur5;
    }
    &__cookie{
        border: none;
    }
    &__nolink{
        background-color: $danger;
        cursor: not-allowed;
    }

}

