.icone {
    width: 50px;
    height: 50px;
    background-position: center;
    display: block;
    background-size: cover;
    margin-right: 10px;
    @media screen and (max-width: map-get($breakpoints,desktop-down)){
        width: 40px;
        height: 40px;
    }
    @media screen and (max-width: map-get($breakpoints,tablet-down)){
        width: 30px;
        height: 30px;
    }
    @media screen and (max-width: map-get($breakpoints,phone-down)){
        width: 20px;
        height: 20px;
    }
}
// icones header
.icone-insta{
    background-image: url(/public/images/icones/ico-insta.webp);
}
.icone-facebook{
    background-image: url(/public/images/icones/ico-fb.webp);
}
.icone-localisation{
    background-image: url(/public/images/icones/localisation.webp);
}
.icone-localisation2{
    background-image: url(/public/images/icones/carte-et-localisation.webp);
    @media screen and (max-width: map-get($breakpoints,tablet-down)){
        width: 40px;
        height: 40px;
    }
}


// icone de la section contact
.icone-contact1{
    background-image: url(/public/images/icones/contact-adress.webp);
}
.icone-contact2{
    background-image: url(/public/images/icones/contact-mail.webp);
}
.icone-contact3{
    background-image: url(/public/images/icones/contact-phone.webp);
}