// @media screen and (max-width: map-get($breakpoints,desktop-down)){

// }
// @media screen and (max-width: map-get($breakpoints,tablet-down)){

// }
// @media screen and (max-width: map-get($breakpoints,phone-down)){

// }


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    max-width: 1440px;
    margin: auto;
    background-color: $white;
}

main{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

section{
    display: flex;
    flex-direction: column;
    width: 95%;
    padding: 80px;
    border: 2px solid $couleur3;
    border-radius: $radiusGlobal;
    @media screen and (max-width: map-get($breakpoints,tablet-down)){
        padding: 40px;
        border: 1.5px solid $couleur3;
    }
    @media screen and (max-width: map-get($breakpoints,phone-down)){
        padding: 5px;
        border: 1px solid $couleur3;
    }
    h2{
        text-align: center;
        text-transform: capitalize;
    }
    p{
        text-align: center;
        margin-top: 20px;

    }
    &:nth-child(1){
        margin-top: 20px;
    }
}