// couleurs.
$couleur1:#EADCB3;
$couleur2: #83D0F2;
$couleur3:#a9c69f;
$black:#1e1e1e;
$white: rgb(255, 255, 255);
$danger: rgba(240, 102, 102);
$succes: rgb(143, 214, 143);

// radius
$radiusGlobal: 4px;
// box-shadow: 
$boxshadow: 0px 0px 10px 1px rgba(131,208,242,0.4);
// -webkit-box-shadow:
$webkitShadow: 0px 0px 10px 1px rgba(131,208,242,0.4);
// -moz-box-shadow: 
$mozBoxshadox: 0px 0px 10px 1px rgba(131,208,242,0.4);
// responsive.
$breakpoints: (
    phone-down: 500px,
    tablet-down: 900px,
    desktop-down: 1280px,
);