// couleurs.
$couleur1:#EADCB3;
$couleur2: #83D0F2;
$couleur3:#a9c69f;
$black:#1e1e1e;
$white: #FFFFFF;

// radius
$radiusGlobal: 4px;

// responsive.
$breakpoints: (
    phone-down: 500px,
    tablet-down: 900px,
    desktop-down: 1280px,
);